<div style="text-align: center">
  <input type="file" accept=".csv" (change)="parse($event.target.files)"/>
  <button type="button" *ngIf="showBtn" (click)="calculate()" style="background-color: rgb(7, 71, 166); color: white">Calculate</button>
</div>
<div *ngIf=showTable style="text-align: center">
  <p style="margin:30px">Final Table</p>
  <ul style="list-style: none">
    <li *ngFor="let prediction of predictions">{{prediction.Name}} - {{prediction.score}} points</li>
  </ul>
</div>